* {
  text-align: center;
}

.ships {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#ship-id {
  display: flex;
  flex-direction: column;
  border: solid black;
  width: 300px;
  justify-content: center;
  background: rgba(255, 0, 0, 0.533);
}